/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

@import "../base/variables.css";
@import "../base/typography.css";

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--cyan-800);
  box-shadow: var(--drop-shadow);
  color: var(--white);
  z-index: 900;

  /*position: fixed;
top: 0;
width: 100%;
height: var(--header-height);
z-index: 900;
background-color: var(--cyan-800);
color: white;
box-shadow: var(--drop-shadow);
transition:
  background-color ease-in-out 0.3s,
  box-shadow ease-in-out 0.3s;*/

}

header a.menu,
header a.more {
  color: var(--white);
  display: block;
  text-decoration: none;
  padding: var(--gutter);
}

header .title {
  inherits: .type-smallhead;
  flex: 1;
  padding: var(--gutter);
  text-align: left;
  color: inherit;
}
