@import "../base/variables.css";

.files footer {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
}

.files footer .hidden {
  display: none;
}

.files footer .spacer {
  flex: 1;
}

.files footer .fab {
  position: relative;
  margin-right: var(--gutter);
  margin-bottom: var(--gutter);
  border-radius: 50%;
  width: calc(var(--gutter) * 2);
  height: calc(var(--gutter) * 2);
  box-shadow: var(--drop-shadow);
  background-color: var(--deeporange-A200);
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.files footer .fab:hover {

}

.files footer .fab:active {
  box-shadow: var(--drop-shadow-intense);
  background-color: color(var(--deeporange-A200) shade(10%));
}

.files footer .fab .material-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 1;
  transform: translate(-12px, -12px);
  color: var(--white);
}
