/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

@import "../base/variables.css";
@import "./typography.css";

footer {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--gutter);
}

footer .hidden {
  display: none;
}

footer .spacer {
  flex: 1;
}

footer .fab {
  position: relative;
  border-radius: 50%;
  width: calc(var(--gutter) * 2);
  height: calc(var(--gutter) * 2);
  box-shadow: var(--drop-shadow);
  background-color: var(--deeporange-A200);
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

footer .fab:hover {

}

footer .fab:active {
  box-shadow: var(--drop-shadow-intense);
  background-color: color(var(--deeporange-A200) shade(10%));
}

footer .fab .material-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 1;
  transform: translate(-12px, -12px);
  color: var(--white);
}
