/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

@import "../base/variables.css";
/*
@import "../base/reset.css";
@import "../base/typography.css";
*/

.device-sets {
  /* HACK: Header's title line-height + 2x the gutters. */
  margin-top: calc(20px + (var(--gutter) * 2));
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  border-top: 1px solid transparent;
  flex: 1;
}

.device-sets .blank-slate {
  padding: var(--gutter) 0;
}
